.App {
  max-width: 750px;
  margin: 90px auto;
}

.App footer {
  font-size: 15px;
  margin: 20px 0;
}

body {
  background-image: url("sky.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
